<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWs_qq7ta91Mv_4wxRiR8zxATO_nA3uwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>703704100184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diploma1610</string>
	<key>PROJECT_ID</key>
	<string>diploma-auth-af731</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-auth-af731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703704100184:ios:b5fbeef71c1ddcf47b492d</string>
	<key>DATABASE_URL</key>
	<string>https://diploma-auth-af731-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>